.intro {
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 25px;
}

.text-7xl {
    font-family: 'Times New Roman', Times, serif;
    font-size: 54px;
}
  
