

.joinus-text {
    font-family: 'Times New Roman', Times, serif;
}

.joinus-slogan {
    font-weight: bold;
    font-style: italic;
    color: #555;
}

.joinus-container {
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 25px;
}



.joinus-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: auto;
  /*max-width: 600px;*/
}

.joinus-text h2 {
  color: #0078d4;
  font-size: 1.8rem;
}

.joinus-text p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

.cta-button {
  background-color: #0078d4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #005bb5;
}