.metrics-paragraph{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 5%;
  margin-bottom: 40px;
  font-family: 'Times New Roman', Times, serif;
}
.metrics-title{
  font-weight: bold;
  font-size: 30px;
  margin-top: 35px;
  margin-left: 5%;
  font-family: 'Times New Roman', Times, serif;
}